{% load static %}
{% load qr_code %}
{% load i18n %}
<div class="member_card">

  <div class="member_qr">
    {% qr_from_text member_qr size="l" image_format="png" %}
  </div>

  <div class="member_profile">
    {% if profile_image %}
      <img src="{% if baseurl %}{{baseurl}}{% endif %}{{profile_image.url}}">
    {% endif %}
  </div>

  <div class="member_info">
    <span class="member_name">{{display_name}}</span><br>
    <span class="member_type">
      {% include 'member/member_type.html' %}
    </span><br>
    <span class="member_id">Nº socia: {{member.member_id|default_if_none:'-'}}</span>
  </div>

  <div class="mesm_footer">
    {% if market_banner %}
        <img src="{% if baseurl %}{{baseurl}}{% endif %}{{market_banner.url}}" alt="Logo MES">
    {% else %}
        <img src="{% static '/imgs/brand.png' %}" alt="Logo MES">
    {% endif %}
  </div>

</div>