{% extends 'base.html' %}
{% load i18n %}
{% load custom_text %}
{% load settings_value %}

{% block bodyattrs %}
    {% if not 'from_app' in request.GET and not 'hide_toolbar' in request.GET %}
        class="main-bg"
    {% endif %}
{% endblock%}

{% block content %}
    {% if not 'hide_toolbar' in request.GET %}
        <div class="jumbo-header minimal" >
            <div class="jumbotron">
                <div class="container text-center">
                    <h2 class="text-light">
                        {% custom_text node 'consumer_form_title' as header_title %}
                        {% if header_title %}
                            {{header_title}}
                        {% else %}
                             {% translate "Hazte Consumidora" %}
                        {% endif %}
                    </h2>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container justify-content-center">
        {% if not 'from_app' in request.GET and not 'hide_toolbar' in request.GET %}
        <div class="card px-4" style="max-width:1000px;margin:auto;margin-top:-20px;">
            <div class="card-body">
        {% else %}
        <div class="px-2"></div>
        {% endif %}

                <form method="post" class="mt-3 p-4" enctype="multipart/form-data">
                    {% csrf_token %}

{{form.from_app}}
{{form.node}}

{% include 'common/custom_text/content.html' with text_id='consumer_form_intro' %}

{% blocktrans %}Los campos marcados con <span class="text-primary lead">*</span> son obligatorios.{% endblocktrans %}

<div class="row ">

    <div class="col-md-5">
        {% include "common/forms/field.html" with field=form.first_name %}
    </div>

    <div class="col-md-7">
        {% include "common/forms/field.html" with field=form.last_name %}
    </div>

    <div class="col-md-5">
        {% include "common/forms/field.html" with field=form.cif %}

        {% include "common/forms/file_field.html" with field=form.idcard_file %}
        <small class="  d-block">
            {% translate "Sube un archivo (imagen o PDF) de tu documento de identidad." %}<br>
            <strong>{% translate 'Máximo tamaño de archivo: ' %}</strong>
            {% settings_value 'FILE_UPLOAD_MAX_MEMORY_SIZE' as max_upload_size %}
            {{ max_upload_size|filesizeformat }}
        </small>

        <div class="mt-4" data-visible-by="#{{form.idcard_file.id_for_label}}">
            {% include "common/forms/file_field.html" with field=form.idcard_file2 %}
        </div>
    </div>

    <div class="col-md-7">
        {% include "common/forms/field.html" with field=form.email %}
        {% include "common/forms/field.html" with field=form.phone_number %}
    </div>

    <div class="col-lg-12 mt-md-4">
        {% include "common/forms/field.html" with field=form.address not_floating=True %}
    </div>

    <div class="col-md-4">
        {% include "common/forms/field.html" with field=form.city %}
    </div>

    <div class="col-md-12">
    {% if node.intercoop_enabled %}
        {% include "common/forms/switch.html" with field=form.is_intercoop %}
        <div class="my-4" data-visible-by="#{{form.is_intercoop.id_for_label}}">
            Elige la entidad de intercooperación con la que te registras:
            <div class="row">
            {% for entity in intercoop_entities %}
                <div class="col-md-6 col-lg-4 mt-3">
                    <div class="intercoop-provider card pt-2" {% if entity.external_id_needed %} data-external-label="{{entity.external_id_label}}" {% endif %}>
                        <label class="text-dark">
                            {% include "provider/row_display.html" with item=entity.provider hide_address=True show_inline=True %}
                    <input type="radio" class="invisible" name="{{form.intercoop.name}}" value="{{entity.pk}}" {% if form.intercoop.value == entity.pk %} checked="true" {% endif %} >
                        </label>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% include "common/forms/errors.html" with field=form.intercoop %}
            <div {% if not form.intercoop_external_id.errors %} style="display:none;" {% endif %} id="intercoop_external_id_container">
                {% include "common/forms/field.html" with field=form.intercoop_external_id %}
            </div>

        </div>
    {% endif %}
    </div>

    <div class="col-lg-12">
        {% include 'common/custom_text/content.html' with text_id='consumer_form_bottom' %}
    </div>

    <div class="col-md-12 col-lg-12 mt-3">
        {% include 'registration/privacy_policy_check.html' %}
    </div>

    <div class="col-md-12 col-lg-12 mb-3">
        {% include "common/forms/switch.html" with field=form.newsletter_check %}
    </div>
</div>

            <div class="text-center mt-3 mb-5">
                <button type="submit" class="btn btn-primary btn-action btn-lg">{% translate "Enviar solicitud" %}</button>
            </div>

            </form>
            {% block cardcontent%} {% endblock %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(function() {
	    var externalIdInput = $('#{{ form.intercoop_external_id.id_for_label }}');
	    var externalIdLabel = $('label[for="{{ form.intercoop_external_id.id_for_label }}"]');
        var externalIdContainer = $('#intercoop_external_id_container');

		$('.intercoop-provider').click(function(){
			$('.intercoop-provider').removeClass('border-secondary');
			var intercoop = $(this).addClass('border-secondary');
			var externalLabel = intercoop.attr('data-external-label');
			if (externalLabel){
                externalIdInput.attr('placeholder', externalLabel);
                externalIdLabel.text(externalLabel);
                externalIdContainer.show();
			}
			else{
			    externalIdContainer.hide();
			}
		});

	});
</script>

{% endblock %}
