{% extends 'base.html' %}
{% load i18n %}

{% block bodyattrs %}
    {% if not 'from_app' in request.GET and not 'hide_toolbar' in request.GET %}
        class="main-bg"
    {% endif %}
{% endblock%}

{% block content %}
    {% if not 'from_app' in request.GET and not 'hide_toolbar' in request.GET and not hide_toolbar %}
        <div class="jumbo-header minimal" >
            <div class="jumbotron">
                <div class="container text-center">
                    <h2 class="text-light">
                        {% translate "Hazte Consumidora" %}
                    </h2>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container justify-content-center">
        {% if not 'from_app' in request.GET and not 'hide_toolbar' in request.GET %}
            <div class="card px-4" style="max-width:1000px;margin:auto;margin-top:-20px;">
                <div class="card-body">
        {% else %}
                <div class="px-2 p-4"></div>
        {% endif %}

<h5 class="text-primary">{% translate '¡Gracias por tu interés en hacerte consumidora!' %}</h5>
<p>
    {% translate 'En los próximos días revisaremos tu solicitud y te escribiremos al correo indicado.' %}
</p>
{% if contact_mail %}
    <p>
        {% translate 'Si pasado un tiempo no recibes respuesta, contacta con nosotras aquí:' %}
        <a href="mailto:{{contact_mail}}">{{ contact_mail }}</a>
    </p>
{% endif %}
            </div>
        </div>
    </div>

{% endblock %}