
services:
  web:
    container_name: "appmes-web"
    build: .
    ports:
      - "${DJANGO_PORT:-8000}:8000"
    volumes:
      - ./logs:/var/log/appMES/
      - ../config/logrotate:/etc/logrotate.d
      - ../static:/static
      - ../media:/media
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy
  db:
    container_name: "appmes-db"
    image: pgvector/pgvector:pg17
    ports:
      - "${DB_PORT:-5432}:${DB_PORT:-5432}"
    volumes:
      - postgres_data_17:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PWRD}
      - POSTGRES_DB=${DB_NAME}
      - PGPORT=${DB_PORT}
    healthcheck:
      test: [ "CMD-SHELL", "sh -c 'pg_isready -U ${DB_USER} -d ${DB_NAME}'" ]
      interval: 10s
      timeout: 3s
      retries: 3

volumes:
  postgres_data_17:
