{% extends 'common/email/base.html' %}
{% load settings_value %}
{% load i18n %}

{% block title %}Recuperar contraseña{% endblock %}

{% block maintitle %}Recuperar contraseña{% endblock %}

{% block content %}

{% autoescape off %}
 	{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

 	{% translate "Please go to the following page and choose a new password:" %}

{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

 	{% translate "Thanks for using our site!" %}
 	{% endautoescape %}

{% endblock%}

{% block call_button %}

{% url 'auth:password_reset_confirm' uidb64=uid token=token as link %}
{% translate "Restaurar contraseña" as link_text %}
{% include 'common/email/button.html' with link_text=link_text link_href=link %}

{% endblock call_button %}