{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}
{% load i18n %}

{% block title %}{% translate 'Editar ventaja' %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

       <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0">{% translate 'Editar ventaja' %}</h3>
            </div>
        </div>
        </div>
    </div>

    {% include 'provider/header_detail.html' with account=entity %}

        <div class="container px-md-5">
            <div class="card mb-4 p-3">
                <div class="card-body">
                    <form method="POST" class="post-form gallery-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-title primary-title">

                    {{form.media}}
                    {{form.entity}}

                    {% include 'benefits/form.html' %}

                    {% include "common/forms/save_btn.html" %}
                    </form>
                </div>
            </div>
        </div>

{% endblock%}


