{% extends 'common/list/base.html' %}
{% load market_url %}
{% load i18n %}

 {% block table_head %}
    <th scope="col">{% translate 'Entidad' %}</th>
    <th scope="col">{% translate 'Ventaja para entidades' %}</th>
    <th scope="col">{% translate 'Ventaja para socias' %}</th>
    <th scope="col">{% translate 'Activa' %}</th>
    <th scope="col">{% translate 'Acciones' %}</th>
{% endblock %}


{% block item_row %}

    {% include 'provider/row_display.html' with item=item.entity hide_address=True %}
    <td>{{item.benefit_for_entities|striptags|truncatechars_html:40}}</td>
    <td>{{item.benefit_for_members|striptags|truncatechars_html:40}}</td>
    <td>
        {% if item.active %} <i class="material-icons md-36 text-success" data-toggle="tooltip" data-placement="bottom" title="{% translate 'Activa' %}">check_circle</i>
        {% else %} <i class="material-icons md-36 text-danger" data-toggle="tooltip" data-placement="bottom" title="{% translate 'Inactiva' %}">cancel</i>
        {% endif %}
    </td>
    <td class="table-actions">
        <a class="btn btn-outline-primary" href="{% market_url 'benefits:edit' item.pk %}" data-toggle="tooltip" data-placement="bottom" title="{% translate 'Editar' %}"><i class="material-icons">mode_edit</i></a>
        <a class="btn btn-outline-primary action-delete" href="{% market_url 'benefits:delete' item.pk %}" data-action="{% market_url 'benefits:delete' item.pk %}"  data-toggle="tooltip" data-placement="bottom" title="{% translate 'Eliminar ventaja' %}"><i class="material-icons">delete</i></a>
    </td>

{% endblock %}
