{% extends 'base.html' %}
{% load static %}
{% load market_url %}

{% block title %}Nueva categoría{% endblock %}


{% block content %}

    <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0"><a href="{% market_url 'market:category_list' %}">Categorías</a><i class="material-icons md-18 ">arrow_forward_ios</i> Nueva categoría</h3>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="mt-3 p-4">
            {% csrf_token %}
            {{ form.node }}

            {% include "category/form.html" %}

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-lg">Crear categoría</button>
            </div>

        </form>
    </div>

{% endblock %}
