{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load market_url %}

{% block title %}{% translate 'Mercados' %} | {{object.name}}{% endblock %}

{% block extra_styles %}
<style>
#email-content{
    width:100%;
    height:90vh;
}
</style>
{% endblock %}

{% block content %}
    <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h4 class="mb-0">
                    {% if request.user.is_superadmin %}
                        <a href="{% url 'market:market_list' %}">{% translate 'Mercados sociales' %}</a>
                    {% else %}
                        <span class="text-primary">{% translate 'Mercados sociales' %} </span>
                    {% endif %}
                    <i class="material-icons md-24">arrow_forward_ios</i>
                    <a href="{% market_url 'market:edit_public_market' %}">{{object.name}}</a>
                    <i class="material-icons md-24">arrow_forward_ios</i>
                    Previsualizar email</h4>
            </div>
                 <div class="col-sm-5 col-md-4 text-sm-right">
          </div>
        </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="post-form gallery-form mt-4" enctype="multipart/form-data">
          <div class="card mb-4">
                 <div class="card-body">
                    <iframe id="email-content" src="{% market_url 'market:preview_email_render' view.kwargs.template_name %}"></iframe>
                 </div>
          </div>
        </form>
    </div>

{% endblock %}

