// Custom.scss
// Option A: Include all of Bootstrap

$mes-font-emphasis: 'League Gothic', sans-serif;
$font-family-brand: 'Lato', sans-serif;
$font-family-emphasis: 'League Gothic', sans-serif;

@font-face {
  font-family: "Veneer Three";
  src: url("../fonts/Veneer Three.woff");
  font-weight: 400;
  font-style: normal;
}

$mes-secondary: #b6b10a;
$mes-secondary-light: #9258af;
$mes-secondary-lighter: #9258af;

$mes-primary: #5a366c;
$mes-primary-light: #b064ac;
$mes-highlight: #f78154;

$menu-min-width:13.5rem;
$body-bg: #fcfcfc;
$jumbotron-bg: $mes-secondary;
$pagination-bg: transparent;
.bg-brand{ background-color: $mes-highlight !important; }

$primary: (
  color: $mes-primary,
  dark:  darken($mes-primary, 10%),
  light: lighten($mes-primary, 10%)
);

$secondary: (
  color: $mes-secondary,
  dark:  darken($mes-primary, 10%),
  light: lighten($mes-primary, 10%)
);

$brand: (
  color: $mes-highlight,
  dark:  darken($mes-highlight, 10%),
  light: lighten($mes-highlight, 10%)
);

$warning: (
  color: #f2c14e,
  dark:  $mes-highlight,
  light: #f4e2a0
) !default;

$link-color: $mes-primary;
$link-color-hover: darken($mes-primary, 10%);
$navdrawer-nav-link-color-active: $mes-highlight;

.main-bg{
    background-image: url('../imgs/mes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html, body {
  min-height: 100%;
}



@import "./material/material";

// Import extensions
@import './components/scrollbars';
@import './components/navdrawer';
@import './components/pagination';
@import './components/process_stepper';
@import './components/toast';
@import './components/profile';
@import './components/typography';
@import './components/map';
@import './components/inputs';
@import './components/select';
@import './components/datepicker';
@import './components/card';
@import './components/gallery';
@import './components/tables';
@import './components/button';

.loading-spinner{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-75px;
    margin-left:-75px;
}
.loading-spinner, .loading-indicator{ display:none; }
.loading-container{
    opacity:0.6;
    position: relative;

    .loading-spinner, .loading-indicator{
        display:block;
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
.mes-loader{
    display:block;
    width:150px;
    height:150px;
    background-image:url('mes-loader.png');
    background-repeat:no-repeat;
    background-position:center;
     -webkit-animation:spin 1.2s linear infinite;
    -moz-animation:spin 1.2s linear infinite;
    animation:spin 1.2s linear infinite;
    margin:auto;
    opacity:0.7;
}

.jumbotron .breadcrumbs > a{
    color: $black-secondary;
}
.hidden{ display:none !important; }
.filter-panel{
    margin-top: $spacer;

    .input-group, .custom-select{
        padding-left: $spacer;
        box-shadow: map-get($shadows, 1);
        @include border-radius($border-radius);
        align-self: stretch;
        border-color: rgba(0, 0, 0, 0.02);
        background-color:#fff;

        .input-group-append, .input-group-prepend{
            align-self: stretch;
            .btn { align-self: stretch; }
        }
        input{
            margin-bottom: $spacer-sm;
        }
    }
    .custom-select{
        border-color: transparent;
    }
    .search-field{
        font-size:0.9em;
        background-color:#f1f1f1;
    }
    .input-group{
        width:auto;
    }

}

.material-icons.md-18 { font-size: 18px; margin:auto 5px; vertical-align:middle; }
.material-icons.md-24 { font-size: 24px;  margin:auto 5px; vertical-align:middle; }
.material-icons.md-36 { font-size: 36px;  margin:auto 5px; vertical-align:middle; }
.material-icons.md-48 { font-size: 48px;  margin:auto 5px; vertical-align:middle; }

.text-decoration-none{
    text-decoration: none !important;
    &:hover{
        text-decoration: none !important;
        opacity:0.9;
    }
}


/* For compatibility with older Bootstrap */
.fade.in { opacity: 1; }

.formset-item{
    position:relative;

    .delete-row{
        position:absolute;
        top: 1.5rem;
        right: 1.5rem;

        i.material-icons{ font-size: 2rem; }
    }
}

.btn.btn-narrow{
    min-width:0;
}

.qr-container img{
    max-width:100%;
    height:auto;
}


.link-explanation{
    position:relative;

    .cover-explanation{
        opacity:0;
        transition:.4s all;
        display: flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        width:100%;
        height:100%;
        background-color: $mes-primary;
        color:#fff;

        div{
            margin-top:-150px;
            text-align:center;
            display:block;
            transition:.4s all;
        }
    }

    &:hover{
        .cover-explanation{ opacity:0.75; }
        .cover-explanation div { margin-top:0; }
    }
}

.error-404 {
    position: absolute;
    height: 70%;
    top:0;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10%;

    h1 {
        font-size: 4em;
        font-weight: 900;
        margin-bottom: 24px;
    }

    h2 {
        font-size: 2em;
        font-weight: bold;
        color: $mes-primary;
        margin: 0;
    }

}

.error-500 {
    @extend .error-404;
    justify-content: center;

    h3 {
        margin-bottom: 24px;
    }
}

.social-network-logo {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    font-size: 32px;
}
