{% extends "base.html" %}
{% load static %}
{% load market_url %}
{% load settings_value %}
{% load l10n %}
{% load i18n %}

{% block title %}{{offer.title}}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}


{% market_url 'offers:edit' object.pk as url %}
{% include 'provider/header_detail.html' with account=object.provider edit_url=url %}


<div class="container px-md-5">
        <div class="card mx-md-5" >
          <img class="card-img-top img-fluid" src="{% if offer.banner_image %}{{ offer.banner_image.url }}{% else %}{%static 'imgs/default-offer.png' %}{% endif %}" alt="{{offer.title}}">

          <div class="card-body px-5 py-4">
              <div class="d-flex align-items-center">
                    <h4 class="card-title flex-grow-1">{{object.title}}</h4>
              </div>
            <div class="card-text">
                {% autoescape off %}
                    {{object.description}}
                {% endautoescape %}

                <p>
                    Descuento: {{object.discount_percent}}
                    Precio: {{object.discounted_price}}
                </p>
            </div>
          </div>
        </div>
</div>
{% endblock%}

{% block scripts %}

{% endblock scripts %}