{% extends 'base.html' %}
{% load static %}
{% load market_url %}
{% load l10n %}
{% load i18n %}

{% block title %}{% translate 'Nueva oferta' %}{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2 text-light">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                {% if request.user.is_staff %}
                    {% market_url 'offers:list' as offers_url %}
                {% else %}
                    {% url 'offers:user_list' as offers_url %}
                {% endif %}
                <h3 class="mb-0"><a href="{{offers_url}}">{% translate 'Ofertas' %}</a><i class="material-icons md-18 ">arrow_forward_ios</i> {{object.title}}</h3>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="mt-3 p-4"  enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.provider }}

            {% include "offers/form.html" %}

            {% include "common/forms/save_btn.html" %}

        </form>
    </div>

{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/daterangepicker.css" %}"/>
{% endblock extra_styles %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
<script type="text/javascript">
    var startDate = $('input[name="begin_date"]');
    var endDate = $('input[name="end_date"]');

    options = {
        cancelClass: 'btn-flat text-primary',
        locale: calendarLocale
    }
    if (startDate.val()){ options['startDate'] = startDate.val(); }
    if (endDate.val()){ options['endDate'] = endDate.val(); }

    var daterange = $('#dateRange').daterangepicker(options, function(start, end, label){
        console.log(start);
        startDate.val(start.format('DD/MM/YYYY'));
        endDate.val(end.format('DD/MM/YYYY'));
    });

    $('#dateRangeBtn').on('click', function(){ daterange.focus(); });

</script>
{% endblock scripts %}