{% extends 'base.html' %}
{% load static %}
{% load settings_value %}
{% load i18n %}

{% block title %}{% translate 'Nuevo mercado' %}{% endblock %}


{% block content %}

    <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0"><a href="{% url 'market:market_list' %}">{% translate 'Mercados sociales' %}</a><i class="material-icons md-18 ">arrow_forward_ios</i> {% translate 'Nuevo mercado' %}</h3>
            </div>
        </div>
        </div>
    </div>

    <div class="container-fluid">
        <form method="post" class="post-form gallery-form mt-4" enctype="multipart/form-data">

            {% include "market/form.html" %}

            <div class="text-center my-3">
                <button type="submit" class="btn btn-primary btn-action btn-lg">{% translate 'Añadir mercado' %}</button>
            </div>

        </form>
    </div>

{% endblock %}


{% block scripts %}
{% include 'common/include_gmaps.html' with update_field=True initial_zoom=6 %}
{% include "market/script_fields.html" %}
{% endblock %}