{% extends 'base.html' %}
{% load static %}

{% block title %}Nueva categoría{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0"><a href="{% url 'market:market_list' %}">Mercados sociales</a><i class="material-icons md-18 ">arrow_forward_ios</i> Nuevo mercado</h3>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="mt-3 p-4">

            {% include "market/form.html" %}

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-lg">Añadir mercado</button>
            </div>

        </form>
    </div>

{% endblock %}
