{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Mercados' %} {% endblock %}

{% block content %}

    <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="mb-0">{% translate 'Mercados sociales' %}</h3>
            </div>
            <div class="col-sm-5 col-md-4 text-sm-right">
                <a href="{% url 'market:add_market' %}" class="btn btn-primary btn-action"><i class="material-icons mr-2">add</i> {% translate 'Nuevo mercado' %}</a>
            </div>
        </div>
        </div>
    </div>

    <div class="container mt-3">
        {% include 'common/list/ajax_wrapper.html' with query_template='market/query.html' %}
    </div>

{% endblock %}