{% load i18n %}

<div class="navdrawer-header d-flex mb-0">
    <a class="navbar-brand px-0" href="#">Administración</a>

    <a class="nav-link text-dark px-2" title="Django Admin" href="{% url 'admin:index' %}" target="_blank">
          <i class="material-icons">exit_to_app</i>
    </a>

    <a class="nav-link text-dark px-2" title="Django Logs" href="{% url 'log_viewer:log_file_view' %}" target="_blank">
          <i class="material-icons-outlined">receipt_long</i>
    </a>
</div>

<ul class="navdrawer-nav">
    <li class="nav-item {% if request.resolver_match.url_name == 'user_list' and not current_market %}active{% endif %}">
    <a class="nav-link" href="{% url 'auth:user_list' %}">
      <i class="material-icons mr-3">face</i>
      {% translate 'Usuarios' %}
    </a>
    </li>



    <li class="nav-item">
    <a class="nav-link collapsed position-relative" data-toggle="collapse" href="#node-list" role="button" aria-expanded="false">
      <em class="material-icons mr-3">storefront</em> {% translate 'Mercados' %}
        <em class="fas fa-chevron-down expand-btn float-right"></em>
    </a>
    </li>

    <div class="collapse {% if not current_market %} show {% endif %}" id="node-list">
        <ul class="navdrawer-nav">
            <li class="nav-item {% if request.resolver_match.url_name == 'market_list' %}active{% endif %}">
            <a class="nav-link pl-4" href="{% url 'market:market_list' %}">
              <i class="material-icons mr-3">edit</i>
              {% translate 'Editar mercados' %}
            </a>
            </li>

            {% for node in global.nodes %}
            <li class="nav-item">
            <a class="nav-link pl-4" href="{% url 'market:market_dashboard' node.pk %}">
          <em class="material-icons mr-3">supervised_user_circle</em> {{node.name}}
            </a>
            </li>
            {% endfor %}

        </ul>
    </div>
</ul>