{% load static %}
{% load i18n %}

{% if not ENV|upper == "PROD" %}
    <div class="environment-alert">
        <p>{% translate "Estás trabajando en el entorno de" %} {{ ENV|upper }}</p>
    </div>
{% endif %}

{% if not 'from_app' in request.GET and not hide_navbar and not 'hide_toolbar' in request.GET and not hide_toolbar %}
<nav id="top-bar" class="navbar navbar-expand navbar-secondary bg-primary text-light sticky-top
    {% if not hide_secondary_bar %}
        {% if request.user.is_superuser or request.user.is_staff %} navbar-drawer {% endif %}
    {% endif %}"
    style="{% if current_market %} {% endif %}"
>
     <div class="container">
         {% if request.user.is_superuser or request.user.is_staff %}
         <button class="navbar-toggler always-show" type="button" data-toggle="navdrawer" data-target="#doc-navdrawer" aria-controls="doc-navdrawer" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         {% endif %}

         <a class="navbar-brand" href="{% url 'market:index' %}">
             {% if current_market and current_market.banner_image %}
                <img src="{{current_market.banner_image.url}}" height="30" class="d-inline-block align-top" alt=""></a>
            {% else %}
                <img src="{% static '/imgs/brand.png' %}" height="30" class="d-inline-block align-top" alt=""></a>
            {% endif %}

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav ml-auto mt-0">
                {% include 'navbar/login.html' %}
            </ul>
          </div>
     </div>
</nav>
{% if not hide_secondary_bar %}
    {% if request.user.is_superuser or request.user.is_staff %}
        {% include 'navbar/drawer.html' %}
    {% else %}
        {% if request.user.is_authenticated %}
            {% include 'navbar/user.html' %}
        {% endif %}
    {% endif %}
{% endif %}

{% endif %}