{% if not hide_toolbar %}
<div class="nav navbar sticky-top navbar-expand-md " id="menu-nav">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

       <div class="collapse navbar-collapse" id="navbar-menu">
           <div class="container-fluid">
           <ul class="nav nav-tabs nav-fill flex-column flex-md-row flex-lg-row">
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'user_dashboard' %}active{% endif %}" href="{% url 'market:index' %}"><i class="ic ic-home"></i> Inicio</a>
              </li>

           {% if global.account %}
                {% with "navbar/user_"|add:global.account.template_prefix|add:"_menu.html" as template %}
                    {% include template with account=account %}
                {% endwith %}
           {% endif %}

           </ul>
    </div>
   </div>
</div>
 {% endif %}