{% load market_url %}
{% load i18n %}

<div class="table-responsive mb-4">
<table class="table table-hover {% if valign %}valign{% endif %} {% if narrow %}narrow{% endif %}" {% if ajax_url %} data-ajax-url="{{ajax_url}}" {% endif %}>
  {% if not hide_header %}
    <thead>
    <tr>
        {% block table_head %}
      <th scope="col">Nombre</th>
        {% endblock %}
    </tr>
  </thead>
    {% endif %}
  <tbody>
    {% for item in object_list %}

    <tr data-pk="{{item.pk}}" class="{% if object_url_name %}link-row{% endif %}{% block row_class %}{% endblock %}"
        {% if object_url_name %}
             data-href="{% block item_url %}{% if current_market %}{% market_url object_url_name item.pk %}{% else %}{% url object_url_name item.pk %}{% endif %}{% endblock %}"
        {% endif %}>
    {% block item_row %} {% endblock %}
    </tr>

{% empty %}
    {% if not simple_list %}
    <tr>
      <td colspan="4">{% translate 'No hay ningún elemento con los criterios de búsqueda actuales...' %}</td>
    </tr>
    {% endif %}

{% endfor %}
      </tbody>
</table>
</div>

{% if page_obj %}
{% include 'common/pagination.html' with page=page_obj %}
{% endif %}