{% extends 'common/list/base.html' %}
{% load market_url %}

 {% block table_head %}
    <th scope="col">Título</th>
    <th scope="col">Publicada por</th>
    <th scope="col">Fecha</th>
    <th scope="col">Descripción</th>
    <th scope="col">Acciones</th>
{% endblock %}

{% block item_row %}
<td>
  {{item.title}}
</td>
<td>{{item.published_by}}</td>
<td>{{item.published_date|date:'d/m/Y'}}</td>
<td class="text-truncate" style="max-width:220px;">{{item.short_description|striptags|safe}}</td>
<td class="table-actions">
    <a class="btn btn-outline-primary" href="{% market_url 'news:edit' item.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="material-icons">mode_edit</i></a>
    <a class="btn btn-outline-primary action-delete" href="{% market_url 'news:delete' item.pk %}" data-action="{% market_url 'news:delete' item.pk %}" data-toggle="tooltip" data-placement="bottom" title="Eliminar noticia"><i class="material-icons">delete</i></a>
</td>
{% endblock %}
