{{ form.node }}

    <div class="my-2">
        {% include "common/forms/field.html" with field=form.provider not_floating=True %}
    </div>

        {% include "common/forms/field.html" with field=form.description not_floating=True %}

    <div class="mt-4">
        {% include "common/forms/switch.html" with field=form.external_id_needed %}
    </div>


<div class="mt-4" data-visible-by="#{{form.external_id_needed.id_for_label}}">
    {% include "common/forms/multilang_field.html" with form=form fieldname='external_id_label' %}
</div>


