.btn-action{
    font-family: $mes-font-emphasis;
    font-size:1.4rem;
    padding: $btn-padding-y 2rem;
    border-radius:2rem;
}

.btn-inline{
    min-width:0;
    padding-right:0.5rem;
    padding-left:0.5rem;
}

button.badge{
    outline:none;
    border:none;
    cursor:pointer;
}