.card{
    .card-img-top + .container.action-btns{
        position:relative;
        text-align:right;
        margin:auto;
        margin-top:-2rem;
        padding-right:2rem;
    }

    .action-btns.outside{
        position:absolute;
        bottom:-1.5rem;
        right:1em;
    }

    .action-btns.top{
        position:absolute;
        top:-1.5rem;
        right:1.5rem;
    }

    .header-img{
        width:100%;
        height:40%;
        background-color:$mes-primary-light;
        background-image: url('../imgs/provider.png');
        background-position: center;
        background-repeat:no-repeat;
        background-size:contain;
    }
}

.detail-card{
    position:relative;
    margin-top:-3rem;
    float:right;
}

.detail-card + *{
    clear:both;
}

.jumbo-header.jumbo-entity.form + .container > .card{
    margin-top: -3rem;
    z-index: 5;
}
