.iban-code{
    border:1px solid #aaa;
    border-radius:2px;
    line-height:1.9em;
    background-image:url('iban-bg.png');
    background-size: 18px;
     font-family: monospace;
    font-size: 15px;
    padding-left: 4px;
    letter-spacing: 0.605rem;
    max-width:600px;
}

.file-field{
    position:relative;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
    }

    .btn {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      right: -15px;
      z-index: 120;
    }
}

.color-container{ position:relative; }
.color-container > * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.color-container > .sp-replacer{
    position:absolute;
    right:0;
    top:0;
}

.multilang-field{
    position:relative;

    .nav-tabs.input-language{
        position:absolute;
        right:0;
        top:0;
        margin-top:-0.4rem;

        .nav-link{
            min-height:0;
            font-size:1.1rem;
            padding: 0.3rem $nav-tab-link-padding-x;
        }
    }
}

.multilang-select{
    .btn.active{ background: theme-color(secondary); }
}