<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
{% load settings_value %}
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <title>{% block title %}Balance/Auditoría social{% endblock title%}</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

    <link href="{% sass_src 'css/mes.scss' %}?v=1" rel="stylesheet" type="text/css" />

  {% block social_meta %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mercado social" />
    <meta name="twitter:description" content="Sé parte de la Economía Social y Solidaria, desata todo el potencial del consumo consciente a través de la app del Mercado Social" />
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'imgs/public/appmes_banner.jpg' %}" />

    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Mercado social" />
    <meta property="og:description" content="Sé parte de la Economía Social y Solidaria, desata todo el potencial del consumo consciente a través de la app del Mercado Social" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'imgs/public/appmes_banner.jpg' %}" />
  {% endblock social_meta %}

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="Mercado Social" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    <meta name="msapplication-TileColor" content="#cef17b">
    <meta name="theme-color" content="#cef17b">

    {% block extra_styles %}{% endblock extra_styles %}
  </head>
  <body {% block bodyattrs %}{% endblock%}>

<div id="main-content">
{% block content %}{% endblock content %}
</div>

   <div class="toast-messages" id="main-toasts">
       {% for message in messages %}
        <div class="toast {% if message.tags %}{{ message.tags }}{% endif %}">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>Ouch!</strong> {% endif %}
            {{ message }}
        </div>
        {% endfor %}
        {% block toast_messages %}{% endblock toast_messages %}
   </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    {% block scripts %}{% endblock scripts %}
  </body>
</html>

