{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}
{% load market_url %}

{% block title %}Nueva proveedora{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

    <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0"><a href="{% market_url 'market:provider_list' %}">Proveedoras</a><i class="material-icons md-18 ">arrow_forward_ios</i> Nueva proveedora</h3>
            </div>
        </div>
        </div>
    </div>

<form method="POST" class="post-form gallery-form mt-4" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'provider/form.html' %}
    <div class="description text-center mt-3 mb-5">
        <button type="submit" class="btn btn-primary btn-lg btn-action">Crear entidad </button>
    </div>

</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
{% include 'common/include_gmaps.html' with update_field=True initial_zoom=7 %}

<script type="text/javascript">

    $('.gallery-form-photo').formset({
        prefix: '{{ formsets.gallery.prefix }}',
        addText: '<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Añadir foto">add</i></div>',
        deleteText: '<div class="btn btn-primary btn-float btn-small" href="#!" data-toggle="tooltip" data-placement="bottom" title="Eliminar foto"><i class="material-icons">delete</i></div>',
        added: function(row){ row.find('.form-photo').removeClass('uploaded').find('.thumb').css('background-image',''); }
    });

</script>

{% endblock %}