{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}
{% load i18n %}
{% load market_url %}

{% block title %}{{object.name}}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

{% market_url 'market:edit_provider' object.pk as url %}
{% include 'provider/header_detail.html' with account=object.provider edit_url=url %}

<div class="container mt-1 pb-4">

    {% if request.user.is_staff %}
    <div class="card detail-card">
        <div class="card-body">
           {% include "user/detail_card.html" with user=object.owner %}
        </div>
    </div>
    {% endif %}

    <div class="row">

        <div class="col-md-7 p-4">
            {% autoescape off %}
            <h4>Descripción corta:</h4>
            {{object.short_description}}
            {% endautoescape %}
        </div>


        <div class="col-md-5 p-4">

            <div class="mb-3 d-flex align-items-start">
                {% if request.user.is_staff %}
                <a href="{% market_url 'market:member_card' object.pk %}" class="btn bg-brand btn-primary btn-action mr-3 px-3">{% translate "Ver carnet de socia" %}</a>

                <div class="form-group ">
                    <label>{% translate "Número de socia" %}</label><br>
                    {{object.member_id|default_if_none:'-'}}
                </div>
                {% endif %}

            </div>

            {% include 'common/gallery.html' with gallery=object.gallery %}
            <hr>
            {% include 'common/social_links.html' with obj=object %}
        </div>

        <div class="col-md-7 p-4">
            {% autoescape off %}
            <h4>Descripción completa:</h4>
            {{object.description}}
            {% endautoescape %}
        </div>


        <div class="col-md-7 p-4">
            {% autoescape off %}
            <h4>Productos y servicios:</h4>
            {{object.services}}
            {% endautoescape %}
        </div>

        <div class="col-md-12 mb-4">
            <h4 class="mb-3"><i class="ic ic-news"></i> {% translate "Ofertas en curso" %}</h4>
            {% if offers %}
                {% include 'offers/resume_list.html' with offer_list=offers  %}
            {% else %}
                <div class="text-grey px-3">{% translate "No hay ninguna oferta activa actualmente." %}</div>
            {% endif %}

        </div>


        <div class="col-md-12">
            <h4 class="mb-3"><i class="material-icons-outlined text-primary">eco</i> {% translate "Ventajas" %}</h4>

                {% if object.benefit %}
                <a class="btn btn-secondary btn-action text-light mr-4" href="{% market_url 'benefits:detail' object.benefit.pk %}">{% translate "Ver ventajas" %}</a>
                {% elif request.user.is_staff or request.user.is_superuser %}
                    <a class="btn btn-primary btn-action mr-4" href="{% market_url 'benefits:add_provider_benefit' object.pk %}" data-toggle="tooltip" title="Añadir ventaja"><i class="material-icons mr-2">local_activity</i>{% translate "Añadir ventaja" %}</a>
                {% elif request.user.entity == entity %}
                <h5 class="mb-3">Ahora mismo no ofreces ventajas, para añadirlas ponte en contacto con <a href="mailto:{{ contact_email }}">{{ contact_email }}</a> </h5>
                {% endif %}

        </div>

    </div>
</div>
{% endblock%}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script type="text/javascript">
    new ClipboardJS('.copy-clipboard');
</script>
{% endblock %}