{% load i18n %}
<div class="container-fluid">
    <div class="errors"> {{form.errors}}
        {{formsets.form_errors}}
    </div>
    {{form.media}}
    {{form.node}}
    <div class="card-deck">
        <div class="size-check visible-md-block visible-lg-block"></div>
        <div class="row">
            <div class="col-md-7">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="description">
                            <div class="row">
                            <div class="col-md-4 text-center form-photo">
                                <div class="file-field image-field d-inline-block mt-5 mb-4" data-img-target="#profile-image" data-ref-type="image">
                                    {% include "account/profile_circle.html" with account=object %}
                                    <div class="btn btn-primary btn-float" data-toggle="tooltip" data-placement="bottom" title="{% translate "Actualizar imagen" %}">
                                        <span><i class="material-icons">insert_photo</i></span>
                                        {{form.profile_image}}
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-8">
                                    {% include "common/forms/field.html" with field=form.cif %}
                                    {% include "common/forms/multilang_field.html" with form=form fieldname='name' %}
                                    {% include "common/forms/field.html" with field=form.email %}
                                    {% include "common/forms/field.html" with field=form.phone_number %}
                                    {% if request.user.is_staff %}
                                       {% include "common/forms/field.html" with field=form.member_id %}
                                        {% if current_market.has_linked_crm %}
                                            <small class="d-block mb-3">{% translate 'Este campo es <strong class="text-danger">editable para admin</strong>, pero el valor debería venir de la H.Gestora' %}</small>
                                        {% endif %}
                                    {% else %}
                                        {{form.member_id.as_hidden}}
                                    {% endif %}
                                    {% include "common/forms/field.html" with field=form.registration_date %}
                                </div>
                            </div>

                        <div class="form-group" data-links="#entity-address">
                            {% include "common/forms/field.html" with field=form.address not_floating=True  %}
                        </div>

                        <div class="mt-2 " style="margin-bottom: 30px">
                            {% include "common/forms/multilang_field.html" with form=form fieldname='short_description' %}
                            <small style="color: grey">{% translate "Descripción corta o slogan. Se recomienda un máximo de 80 caracteres" %}}</small>
                        </div>

                        <div class="mt-2" style="margin-bottom: 30px">
                            {% include "common/forms/label.html" with field=form.description%}
                            {% include "common/forms/multilang_field.html" with form=form fieldname='description' hide_label=True %}
                            <small style="color: grey">{% translate "Se recomienda una descripción completa pero breve, no más de 2 o 3 párrafos" %}}</small>
                        </div>

                        <div class="mt-2" style="margin-bottom: 30px">
                            {% include "common/forms/label.html" with field=form.services%}
                            {% include "common/forms/multilang_field.html" with form=form fieldname='services' hide_label=True %}
                            <small style="color: grey;">{% translate 'Este campo es importante para la búsqueda semántica, <a href="https://mercadosocial.app/docs/user/panel_gestion/entidades/mi_entidad/#productos-servicios" target="_blank">más información</a>' %}</small>

                        </div>

                        {% include "common/forms/multiselect.html" with field=form.categories tags=categories %}

                        {% if request.user.is_staff %}
                            {% include "common/forms/multilang_field.html" with form=form fieldname='balance_detail' hide_label=True %}
                        {% else %}
                        <div style="display:none;">
                            {% include "common/forms/multilang_field.html" with form=form fieldname='balance_detail' hide_label=True %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title"><i class="material-icons">photo_library</i> {% translate "Galería" %} </div>
                        <p class="card-text">Fotografías de la entidad. tamaño recomendado: máximo 1000px de ancho, formato horizontal. La primera de las
                                                imágenes de esta galería será la que se muestre en el listado de la app.</p>
                        {{ form.gallery.as_hidden }}
                        {{ formsets.gallery.management_form }}
                        {% for gallery_form in formsets.gallery %}
                            <div class="gallery-form-photo file-field">
                             {% if formsets.gallery.can_delete %}
                                {{ gallery_form.DELETE }}
                                {{ gallery_form.photo_id }}
                            {% endif %}
                                <div class="form-photo">
                                    <div class="thumb" style="background-image:url('{{gallery_form.photo.value.url}}');"></div>
                                    {% if not gallery_form.photo_id.value %}
                                        <i class="upload material-icons" data-placement="bottom" title="Subir foto">file_upload</i>
                                        {{ gallery_form.photo }}
                                    {% endif %}
                                </div>
                            {{ gallery_form.order.as_hidden }}
                            {{ gallery_form.title.as_hidden }}
                                </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="col-md-5">
                <div class="card mb-4 ">
                    <div id="map" class="map no-resize loading-container">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
                        <span class="sr-only">Loading...</span>
                    </div>

                    <div class="card-body px-3 pb-0">
                            <h4 class="card-title"><i class="material-icons">edit_location</i> {% translate "Geolocalización" %}</h4>
                            <p class="card-text">{% translate "Mueve el pin por el mapa hasta posicionarlo en la localización correcta." %}</p>

                            {% include "common/forms/field.html" with field=form.latitude %}
                            {% include "common/forms/field.html" with field=form.longitude %}
                    </div>

                    <div class="card-footer">
                      <small class="text-muted">{% translate "Puedes hacer zoom en los controles del mapa para ajustar al máximo la posición, o entrar en la vista de pantalla completa." %}</small>
                    </div>
                </div>

                {% if request.user.is_staff %}
                <div class="card mb-4 p-4">
                    {% include "common/forms/switch.html" with field=form.not_listed %}
                    {% include "common/forms/switch.html" with field=form.is_active %}
                </div>
                 {% else %}
                    {{form.not_listed.as_hidden}}
                    {{form.is_active.as_hidden}}
                {% endif %}

                <div class="card mb-4 pb-4">
                    <div class="social-links card-body pr-5">
                        <div class="card-title"> {% translate "Redes sociales" %}</div>

                        <div>
                            <div class="form-group">
                                <div class="input-group">
                                  <i class="fa fa-globe fa-2xl social-network-logo" aria-hidden="true"></i></span>
                                  {{form.webpage_link}}
                                </div>
                            </div>
                            {{ formsets.social_profiles.management_form }}
                            {% for social_profile_form in formsets.social_profiles %}
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ social_profile_form.id }}
                                        {{ social_profile_form.social_network }}
                                        {{ social_profile_form.url }}
                                    </div>
                                    <div class="d-block invalid-feedback">
                                        {{ social_profile_form.url.errors }}
                                    </div>

                                </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-5">

            </div>

            <div class="col-md-7">

            </div>

       </div>
    </div>

</div>