{% load i18n %}
<div class="jumbo-header jumbo-entity form text-light " >
    <div class="jumbotron bg-secondary pb-4" >
        <div class="container pb-4">
            <div class="row">
                <div class="mb-3 text-light {% if edit_url %}col-md-7{% else %}col-md-12{% endif %}">
                    <div class="profile pt-0">
                        {% include 'account/profile_circle.html' with addclass='float-left' %}
                        <h3 class="mb-0">{{account.name}}</h3>
                        {{account.address }}
                    </div>

                </div>

                {% if edit_url %}
                <div class="col-md-5 text-right">
                    <a href="{{edit_url}}" class="btn btn-primary btn-action"><i class="material-icons mr-2">edit</i>
                        {% if edit_label %} {% translate edit_label %} {% else %} {% translate "Editar" %} {% endif %}</a>
                </div>
                {% endif %}
            </div>

        </div>

        {% if edit_url %}

        {% endif %}

    </div>
</div>