{% extends 'common/list/base.html' %}
{% load market_url %}

{% block table_head %}
{% if request.user.is_superuser %}
    <th scope="col">Entidad</th>
    <th scope="col">CIF</th>
    <th scope="col">Gestionado por</th>
    <th scope="col">Ventajas y <br> ofertas</th>
    <th scope="col">Acciones</th>
{%endif%}
{% endblock %}


{% block item_row %}

{% include 'provider/row_display.html'  %}
        <td>{{ item.cif }}</td>
        <td>{{ item.owner|default_if_none:'-' }}</td>

        <td class="table-actions">
            <a class="btn btn-outline-primary" href="{% market_url 'market:edit_provider' item.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="material-icons">mode_edit</i></a>
            <a class="btn btn-outline-primary" href="{% market_url 'offers:entity_offers' item.pk %}"  data-toggle="tooltip" data-placement="bottom" title="Ver ofertas"><i class="material-icons">shopping_basket</i></a>
            {% if item.benefit %}
                <a class="btn btn-outline-primary" href="{% market_url 'benefits:detail' item.benefit.pk %}"  data-toggle="tooltip" data-placement="bottom" title="Ver ventajas"><i class="material-icons">local_activity</i></a>
            {% endif %}
            {% include 'account/action_user.html' %}
        </td>

{% endblock %}