{% extends 'base.html' %}
{% load static %}
{% load market_url %}

{% block title %}Nueva consumidora{% endblock %}


{% block content %}

    <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0"><a href="{% market_url 'market:consumer_list' %}">Consumidoras</a><i class="material-icons md-18 ">arrow_forward_ios</i> Nueva consumidora</h3>
            </div>
        </div>
        </div>
    </div>

    <div class="container-fluid">
        <form  method="post" class="post-form gallery-form p-4 mt-3" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.node }}
            {% include 'consumer/form.html' %}

            <div class="mt-3 card bg-warning p-3 mx-auto" style="max-width:30rem;">

                {% include 'account/preregister_switch.html' %}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-action btn-lg">Añadir consumidora</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
