{% extends 'base.html' %}
{% load static %}
{% load market_url %}
{% load settings_value %}
{% load i18n %}
{% block title %}{{object.display_name}}{% endblock %}


{% block content %}

{% if request.user.is_staff %}
   <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0"><a href="{% market_url 'market:consumer_list' %}">{% translate "Consumidoras" %}</a><i class="material-icons md-18 ">arrow_forward_ios</i> {{object.display_name}} </h3>
            </div>
        </div>
        </div>
    </div>
{% endif %}

<div class="container px-md-5 mt-4">

    {% if request.user.is_staff %}
    <div class="card detail-card mt-4">
        <div class="card-body">
            {% include "user/detail_card.html" with user=object.owner %}
            <hr>
            <a href="{% market_url 'market:member_card' object.pk %}" class="btn d-block bg-brand btn-primary btn-action">{% translate "Ver carnet de socia" %}</a>
        </div>
    </div>
    {% endif %}

    <div class="row mt-4">
        <div class="col-md-4 col-lg-3">
              <div class="file-field image-field d-inline-block mb-4" data-ref="#profile-image" data-ref-type="image">
                {% include "account/profile_circle.html" with account=object %}
            </div>

            <h4 class="card-title mb-0">{{object.display_name}}</h4>
            {% if object.is_guest_account %}
              <h5 class="text-primary">{% translate "Cuenta invitada" %}</h5>
            {% endif %}

            {% if object.is_intercoop %}
              <h5 class="text-primary">{% translate "Socia de intercooperación" %}</h5>
          {% endif %}

            <div class="form-group">
              <label>{% translate "Número de socia" %}</label><br>
              {{object.member_id|default_if_none:'-'}}
            </div>

            <a href="{% market_url 'market:edit_consumer' object.pk %}" class="btn btn-primary btn-action mt-3"><i class="material-icons md-18 mr-2">edit</i> {% translate "Editar" %}</a>

        </div>
          <div class="col-md-6">

                  <div class="form-group">
                      <label>{% translate "Nombre" %}</label><br>
                      {{object.first_name}}
                  </div>

                  <div class="form-group">
                      <label>{% translate "Apellidos" %}</label><br>
                      {{object.last_name}}
                  </div>

                  {% if not object.is_guest_account %}
                  <div class="form-group">
                      <label>{% translate "NIF/CIF" %}</label><br>
                      {{object.cif}}
                  </div>
                  {% endif %}

                  <div class="form-group">
                      <label>{% translate "Email" %}</label><br>
                      {{object.email}}
                  </div>

                  <div class="form-group">
                      <label>{% translate "Teléfono" %}</label><br>
                      {{object.phone_number}}
                  </div>

                   <div class="form-group">
                      <label>{% translate "Dirección" %}</label><br>
                      {{object.address}}
                  </div>


              </div>
 </div>
          </div>
{% endblock %}
