{% extends 'base.html' %}
{% load market_url %}
{% load i18n %}

{% block title %}{% translate "Consumidoras" %}{% endblock %}

{% block content %}
    <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="mb-0">{% translate "Consumidoras" %}</h3>
            </div>
            <div class="col-sm-5 col-md-4 text-sm-right">
                <a href="{% market_url 'market:add_consumer' %}" class="btn btn-primary btn-action"><i class="material-icons mr-2">add</i> {% translate "Nueva consumidora" %}</a>
            </div>
        </div>
        </div>
    </div>

    <div class="container mt-3">
        {% include 'common/list/filter_form.html' %}
        {% include 'common/list/ajax_wrapper.html' with query_template='consumer/query.html' %}
    </div>
{% endblock %}