{% extends 'common/list/base.html' %}

 {% block table_head %}
    <th scope="col">Usuario</th>
    <th scope="col">Email</th>
    <th scope="col">Nombre</th>
    <th scope="col">Acciones</th>
{% endblock %}


{% block item_row %}

<td class="entity-td"> {% include 'category/tag.html' with tag=item big=True %} {{item.full_name}}</td>
<td>
    {% if profile.user.is_registered %}
        {% if profile.is_guest_account %}
            <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Invitada">card_membership</i>
        {% else %}
            <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Registrada">done_all</i>
        {% endif %}

        <span class="text-muted" >{{profile.user}}</span></td>
    {% else %}
        <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Pendiente registro">schedule</i>
        <span class="text-muted" >Prerregistro</span></td>
    {% endif %}

</td>

<td  class="table-actions">
    <a class="btn btn-outline-primary" href="{% url 'profile_detail' profile.pk %}" style="min-width:0;" data-toggle="tooltip" data-placement="bottom" title="Ver detalle"><i class="material-icons">visibility</i></a>
    <a class="btn btn-outline-primary" href="{% url 'profile_edit' profile.pk %}" style="min-width:0;" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="material-icons">mode_edit</i></a>
</td>
{% endblock %}