yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Guía de usuario de la App del MES
site_url: https://0.0.0.0/docs/user
extra_css:
  - assets/css/extra.css

theme:
  name: material
  logo: assets/logo-mes-oscuro.png
  language: es
  features:
    - navigation.instant
    - navigation.expand
    - navigation.indexes
    - navigation.tracking
    - toc.follow
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: lime
      accent: orange
      toggle:
        icon: material/brightness-3
        name: Modo oscuro

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: lime
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Modo claro

markdown_extensions:
  - attr_list
  - pymdownx.blocks.admonition
  - pymdownx.blocks.details
  - pymdownx.blocks.tab:
      alternate_style: True
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - tags
  - i18n:
      docs_structure: folder
      languages:
        - locale: eu
          name: Euskera
          build: false
        - locale: es
          name: Castellano
          default: true
          build: true
        - locale: ca
          name: Català
          build: false
        - locale: gl
          name: Galego
          build: false

nav:
  - Introducción: introduccion.md
  - Web pública: web_publica.md
  - Idiomas: idiomas.md
  - Aplicación movil:
      - aplicacion_movil/index.md
      - aplicacion_movil/carnet.md
      - aplicacion_movil/entidades.md
      - aplicacion_movil/destacados.md
      - aplicacion_movil/menu.md
      - aplicacion_movil/notificaciones.md
  - Panel de gestión:
    - panel_gestion/index.md
    - Consumidoras:
      - panel_gestion/consumidoras/index.md
    - Entidades:
      - panel_gestion/entidades/index.md
      - panel_gestion/entidades/mi_entidad.md
      - panel_gestion/entidades/ofertas.md
      - panel_gestion/entidades/ventajas.md
      - panel_gestion/entidades/balance.md
      - panel_gestion/entidades/carnet-socia.md
  - Accesibilidad: accesibilidad.md
  - Búsqueda semántica: busqueda_semantica.md
  - Problemas comunes: problemas_comunes.md
  - Software libre: software_libre.md
