{% extends "base.html" %}
{% load static %}
{% load market_url %}
{% load i18n %}
{% block title %}{% translate 'Principal' %}{% endblock%}
{% block bodyattrs %} class="main-bg"{% endblock%}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                {% include 'provider/header_banner.html' with account=account %}
                <div class="card-body">
                    <div class="card-title primary-title mb-0"><h3 class="mb-0"><i class="ic ic-entity"></i> {% translate 'Mi entidad' %}</h3></div>
                    <div class="card-text text-dark">
                        <p class="lead my-0"> {{ account.display_name }}</p>
                        {{account.address}}
                    </div>
                </div>

                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" href="{% url 'market:user_account' %}"><i class="material-icons mr-2">store</i> {% translate 'Ver perfil' %}</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'market:member_card' %}"><i class="material-icons-outlined mr-2">perm_contact_calendar</i> {% translate 'Mi carnet de socia' %}</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'market:account_balance' %}"><i class="material-icons-outlined mr-2">favorite</i> {% translate 'Ver balance social' %}</a>
                    {% comment %}
                        <!-- TODO: #137 -->
                        <a class="list-group-item list-group-item-action disabled" href="#"><i class="material-icons mr-2">bar_chart</i> {% translate 'Ver estadísticas de favoritos' %}</a>
                    {% endcomment %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="card-title primary-title"><h3><i class="ic ic-news mr-2"></i> {% translate 'Ofertas' %}</h3></div>
                    <div class="figure">
                        <span class="number">{{num_offers}}</span>
                        <span class="label">ofertas <br/>activas</span>
                    </div>
                </div>

                 <div class="list-group list-group-flush">
                     <a class="list-group-item list-group-item-action" href="{% url 'offers:user_list' %}"><i class="material-icons">chevron_right</i> {% translate 'Ver ofertas publicadas' %}</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'offers:add' account.node.pk account.pk %}"><i class="material-icons">chevron_right</i> {% translate 'Publicar nueva oferta' %}</a>
                  </div>
            </div>


                <div class="card mb-4 bg-primary-light text-light">
                    <div class="card-body pb-0">
                        <div class="card-title "><h3><i class="material-icons-outlined">eco</i> {% translate 'Ventajas' %}</h3></div>
                        {% if not account.benefit %}
                            <div class="card-text figure pt-2"><p class="label mb-0"> {% translate 'No ofreces ventajas' %}</p></div>
                            <div class="clearboth pb-3">Para añadirlas ponte en contacto con  <a href="mailto:madrid@mercadosocial.net">madrid@mercadosocial.net</a></div>
                        {% else %}
                            <div class="card-text figure pt-2 pb-3"><p class="label mb-0"> {% translate 'Actualmente tienes publicadas ventajas para socias del mercado :)' %}</p></div>
                        {% endif %}

                    </div>

                     <div class="list-group list-group-flush ">
                     {% if account.benefit %}
                         <a class="list-group-item list-group-item-action bg-primary-light text-light" href="{% url 'benefits:user_benefit' %}"><i class="material-icons mr-2">recommend</i> {% translate 'Ver ventajas publicadas' %}</a>
                     {% else %}
                         <a class="list-group-item list-group-item-action bg-primary-light text-light disabled" href="#"><span class="material-icons-outlined mr-2">recommend</span> {% translate 'Ver ventajas publicadas' %}</a>
                     {% endif %}
                        <a class="list-group-item list-group-item-action bg-primary-light text-light" href="{% url 'market:member_check_form' %}"><i class="material-icons mr-2">qr_code_scanner</i> {% translate 'Comprobar estado de socia' %}</a>
                      </div>
                </div>

        </div>

        <div class="col-md-4">
            {% include 'dashboard/last_news.html' %}
        </div>

    </div>
</div>
{% endblock content %}