{% extends "base.html" %}
{% load static %}
{% block title %}Principal{% endblock%}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                {% if entity.first_photo_url %}
                <div class="card-top-img" style="background-image:url('{{entity.first_photo_url}}')"></div>
                {% endif %}
                <div class="card-body">
                    <div class="card-title primary-title mb-0"><h3 class="mb-0"><i class="ic ic-entity"></i> Mi entidad</h3></div>
                    <div class="card-text text-dark">
                    {% if entity %}
                        <p class="lead my-0"> {{ entity }}</p>
                        {{entity.address}}
                    {% endif %}
                    </div>
                    <a class="btn btn-primary btn-float btn-lg" data-toggle="tooltip" data-placement="bottom" title="Editar entidad" href="#"><i class="material-icons">mode_edit</i></a>

                </div>

                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" href="{% url 'market:member_card' %}"><i class="material-icons-outlined mr-2">perm_contact_calendar</i> Mi carnet de socia</a>
                    <a class="list-group-item list-group-item-action" href="#"><i class="material-icons-outlined mr-2">favorite</i> Ver balance social</a>
                    <a class="list-group-item list-group-item-action disabled" href="#"><i class="material-icons mr-2">bar_chart</i> Ver estadísticas de favoritos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title primary-title"><h3><i class="ic ic-news mr-2"></i> Ofertas</h3></div>
                    <div class="figure">
                        <span class="number">{{num_offers}}</span>
                        <span class="label">ofertas <br/>activas</span>
                    </div>
                </div>

                 <div class="list-group list-group-flush">
                     <a class="list-group-item list-group-item-action" href="#"><i class="material-icons">chevron_right</i> Ver ofertas publicadas</a>
                    <a class="list-group-item list-group-item-action" href="#"><i class="material-icons">chevron_right</i> Publicar nueva oferta</a>

                  </div>
            </div>


                <div class="card mb-4">
                    <div class="card-body pb-0">
                        <div class="card-title primary-title"><h3><i class="material-icons-outlined mr-1">eco</i> Ventajas</h3></div>
                        {% if not entity.benefit %}
                        <div class="card-text text-dark figure pt-2"><p class="label mb-0"> No ofreces ventajas</p></div>
                        <div class="clearboth">Para añadirlas ponte en contacto con  <a href="mailto:madrid@mercadosocial.net">madrid@mercadosocial.net</a></div>
                    {% endif %}

                    </div>

                     <div class="list-group list-group-flush">
                     {% if entity.benefit %}
                         <a class="list-group-item list-group-item-action" href="{% url 'benefits:user_benefit' %}"><i class="material-icons mr-2">recommend</i> Ver ventajas publicadas</a>
                     {% else %}
                         <a class="list-group-item list-group-item-action disabled" href="#"><span class="material-icons-outlined mr-2">recommend</span> Ver ventajas publicadas</a>
                     {% endif %}
                        <a class="list-group-item list-group-item-action" href="{% url 'market:member_check_form' %}"><i class="material-icons mr-2">qr_code_scanner</i> Comprobar estado de socia</a>
                      </div>
                </div>


        </div>

    </div>
</div>
{% endblock content %}