{% extends "base.html" %}
{% load static %}
{% block title %}Principal{% endblock %}

{% block extra_styles %}
 <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Mercado social">
<meta name="twitter:description" content="Sé parte de la Economía Social y Solidaria, desata todo el potencial del consumo consciente a través de la app del Mercado Social ">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "imgs/public/appmes_banner.jpg" %}">

<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Mercado social" />
<meta property="og:description" content="Sé parte de la Economía Social y Solidaria, desata todo el potencial del consumo consciente a través de la app del Mercado Social" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "imgs/public/appmes_banner.jpg" %}" />
{% endblock extra_styles %}

{% block navbar %}
{% if not 'from_app' in request.GET and not hide_navbar and not 'hide_toolbar' in request.GET %}
{% include 'public/navbar.html' %}
{% endif %}
{% endblock navbar %}

{% block content %}

{% endblock content %}

{% block footer %}

{% if not 'from_app' in request.GET and not hide_navbar and not 'hide_toolbar' in request.GET %}
{% include 'public/footer.html' %}
{% endif %}

{% endblock footer %}