{% load static %}
{% load i18n %}

<footer class="light-bg">
    <div class="container text-center py-5">
        <div class="row align-items-center mt-2">
            <div class="col-md my-5"> <a href="https://mercadosocial.net/" target="_blank" class="mx-2"><img src="{% static '/imgs/public/colab-mes.png' %}" class="img-fluid px-4" alt="Mercado social"></a></div>
            <div class="col-md my-5"><a href="https://reas.red" target="_blank" class="mx-2"><img src="{% static '/imgs/public/colab-reas.png' %}" class="img-fluid px-3" alt="REAS red de redes"></a></div>
            <div class="col-md my-5"><a href="https://www.zaragoza.es/" target="_blank" class="mx-2"><img src="{% static '/imgs/public/colab-zaragoza.jpg' %}" class="img-fluid" alt="Ayuntamiento de Zaragoza"></a></div>
            <div class="col-md my-5"><a href="https://www.mites.gob.es/" target="_blank" class="mx-2"><img src="{% static '/imgs/public/colab-mintrabajo.jpg' %}" class="img-fluid" alt="Ministerio de Trabajo y Economía Social"></a></div>
        </div>
        <p> 2025 Mercado Social - <a href="{% url 'public:credits' %}">{% translate 'Créditos' %}</a></p>
    </div>
</footer>