{% extends 'base.html' %}
{% load static %}
{% load settings_value %}
{% load market_url %}
{% load i18n %}
{% block title %}{% translate "Nuevo usuario" %}{% endblock %}

{% block content %}

    <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h4 class="mb-0"><a href="{% market_url 'auth:user_list' %}">{% translate "Usuarios" %}</a><i class="material-icons md-18 ">arrow_forward_ios</i> {% translate "Nuevo usuario" %} </h4>
            </div>
        </div>
        </div>
    </div>

    <div class="container">

        <form method="post" class="mt-3 p-4">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                     {% include "user/form.html" %}

                {{form.is_staff.as_hidden}}
                {% include "common/forms/switch.html" with field=form.is_staff %}

                </div>
                <div class="col-md-4">
                    <div class="card bg-warning p-3 mx-auto ">
                        <h4 class="text-primary"><i class="material-icons">info</i> {% translate "Prerregistro"  %}</h4><br>
                    {% translate 'Al crear una nueva usuaria, se le enviará un correo electrónico de bienvenida con un enlace único para que establezca su contraseña inicial.' %}
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg btn-action">{% translate "Crear usuario" %}</button>
            </div>

        </form>
    </div>

{% endblock %}
