{% extends 'base.html' %}
{% load static %}
{% load settings_value %}
{% load market_url %}
{% load i18n %}
{% block title %}{% translate "Nuevo usuario" %}{% endblock %}

{% block content %}

    <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h4 class="mb-0"><a href="{% market_url 'auth:user_list' %}">{% translate "Usuarios" %}</a><i class="material-icons md-18 ">arrow_forward_ios</i> {% translate "Nuevo usuario" %} </h4>
            </div>
        </div>
        </div>
    </div>


    <div class="container">

        <form method="post" class="mt-3 p-4">
            {% csrf_token %}
            {% include "user/form.html" %}

            {{form.is_staff.as_hidden}}
            {% include "common/forms/switch.html" with field=form.is_staff %}

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg btn-action">{% translate "Crear usuario" %}</button>
            </div>

        </form>
    </div>

{% endblock %}
