{% extends 'base.html' %}
{% load static %}
{% load settings_value %}
{% load market_url %}
{% load i18n %}

{% block title %}{% translate 'Usuarios' %} | {{object.display_name}}{% endblock %}

{% block content %}

    <div class="jumbotron text-light py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h4 class="mb-0"><a href="{% market_url 'auth:user_list' %}">{% translate 'Usuarios' %}</a><i class="material-icons md-18 ">arrow_forward_ios</i> {{object.display_name}}</h4>
            </div>
        </div>
        </div>
    </div>
    <div class="container">

        <div class="card detail-card">
            <div class="card-body">
                {% if object.accounts_managed.exists %}
                {% with account=object.accounts_managed.first %}
                    <label>{% translate "Cuenta que gestiona" %}</label>
                    <a href="{% url account.detail_url account.node.pk account.pk %}"> {{account.display_name}} </a>
                    <br>
                    {% endwith %}
                {% endif %}

                <label>{% translate 'Fecha de registro' %}</label> {{object.created_at}}<br>
                <label class="primary-title">{% translate 'Último acceso' %}:</label>
                {% include "user/last_login.html" with user=object %}<br>
            </div>
        </div>
    <div class="row">
    <div class="col-md-6">

        {% if object.is_preregistered %}
        <div class="mt-1 card bg-warning p-3 ml-4" style="max-width:30rem;">
            <h4>{% translate 'Prerregistro' %}</h4>
            {% translate 'El usuario no ha completado aún el prerregistro para establecer su contraseña (debió recibir un email a su cuenta con un enlace de activación)' %}
            <div class="d-inline">
                <label class="d-inline">Token:</label> <span>{{object.preregister.first.id}}</span>
            </div>

            <form class="pt-3" method="post" action="{% url 'auth:preregister_send_email' object.preregister.first.id %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{% market_url 'auth:user_detail' object.pk %}">
                <a class="btn btn-secondary mb-2 copy-clipboard mr-2" href="#" data-clipboard-text="{% settings_value 'BASESITE_URL' %}{% url 'auth:preregister' object.preregister.first.id %}"> <i class="material-icons mr-2">link</i>{% translate 'Copiar enlace' %} </a>
                 <button type="submit" class="btn btn-primary mb-2 copy-clipboard"> <i class="material-icons mr-2">send</i>{% translate 'Reenviar email' %} </button>
            </form>

            <div class="pt-3">

            </div>

        </div>
        {% endif %}

        <form method="post" class="mt-3 pl-4 pr-0">
            {% csrf_token %}
            {% include "user/form.html" %}
            {{form.is_staff.as_hidden}}
            {% include "common/forms/switch.html" with field=form.is_staff %}
            {% include "common/forms/save_btn.html" %}

        </form>
    </div>
        <div class="col-md-6 col-lg-4 mt-3 offset-xs-0 offset-lg-2">
            <div class="card bg-brand">
                <div class="card-body">
                    <h4 class="text-light">{% translate 'Administrar' %}</h4>
                    <a href="{% market_url 'auth:user_password' object.pk %}" class="btn btn-action btn-block btn-primary mb-3"><i class="material-icons mr-2">key</i> {% translate 'Actualizar contraseña' %}</a>
                    <a href="{% market_url 'auth:user_delete' object.pk %}" class="btn btn-action btn-block btn-light mb-2"><i class="material-icons mr-2">delete</i> {% translate 'Eliminar usuario' %}</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}


 {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
        <script type="text/javascript">
            new ClipboardJS('.copy-clipboard');
        </script>

{% endblock %}