
{% include "common/forms/field.html" with field=form.first_name %}
{% include "common/forms/field.html" with field=form.email %}

<div class="row">
    <div class="col-md">
        {% include "common/forms/field.html" with field=form.preferred_locale not_floating=True %}
    </div>
    {% if current_market %}
        {{form.node.as_hidden}}
    {% else %}
    <div class="col-md">
      {% include "common/forms/field.html" with field=form.node not_floating=True %}
    </div>
    {% endif %}
</div>


{% if not current_market %}
<div class="mb-3">
  {% include "common/forms/switch.html" with field=form.manages_multi %}
</div>
{% endif %}


