
{% include "common/forms/field.html" with field=form.first_name %}
{% include "common/forms/field.html" with field=form.email %}
{% include "common/forms/field.html" with field=form.preferred_locale %}

{% if not current_market %}
<div class="mb-3">
  {% include "common/forms/switch.html" with field=form.manages_multi %}
</div>
{% endif %}

{% if current_market %}
    {{form.node.as_hidden}}
{% else %}
      {% include "common/forms/field.html" with field=form.node not_floating=True %}
{% endif %}

