{% load i18n %}
{% if user %}
    {% if user.is_guest_account %}
        <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{% translate "Invitada" %}">card_membership</i>
    {% else %}
        {% if user.is_preregistered %}
            <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{% translate "Pendiente registro" %}">schedule</i>
        {% else %}
            <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{% translate "Registrada" %}">done_all</i>
        {% endif %}
    {% endif %}
{% else %}
    <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{% translate "Sin usuario" %}">close_small</i>
{% endif %}