{% extends 'common/email/base.html' %}
{% load settings_value %}
{% load i18n %}
{% load custom_text %}

{% block title %}Recuperar contraseña{% endblock %}

{% block maintitle %}
{% custom_text node 'password_reset_title' as header_title %}
{% if header_title %}
    {{header_title}}
{% else %}
    {% translate "Recuperar contraseña" %}
{% endif %}
{% endblock %}

{% block content %}

{% custom_text node 'password_reset_body' as body_text %}
{% if body_text %}
    {% autoescape off %}
        {{body_text}}
    {% endautoescape %}
{% else %}

{% autoescape off %}
<p>
	{% with site_name as 'Mercado Social' %}
 	{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
	{% endwith %}
</p>
 	{% translate "Thanks for using our site!" %}
{% endautoescape %}
{% endif %}

{% endblock%}

{% block call_button %}

{% url 'auth:password_reset_confirm' uidb64=uid token=token as link %}
{% translate "Restaurar contraseña" as link_text %}
{% include 'common/email/button.html' with link_text=link_text link_href=link %}

{% endblock call_button %}